
Embedded/SmartRecycler_ArduinoMega/.vscode/

Embedded/SmartRecycler_ArduinoMega/build/

Inference/neural_network_resnet/dataset/

Embedded/GoogleDrive/SmartRecycler_ESP32_GoogleDrive/build/

Embedded/SmartRecycler_ESP32/build/

Embedded/SmartRecycler_ESP32_V2/build/

Embedded/GoogleDrive/SmartRecycler_ESP32_GoogleDrive/.vscode/

Embedded/SmartRecycler_ESP32_V2/.vscode/
